body, #wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer{
    margin-top: auto;
}
.my-div-style{
    margin-top: 6rem;
}


/* 個人設定 */

/* サインアップ画面、ログイン画面の入力欄の整列 */
label[for="id_login"], label[for="id_password"], label[for="id_remember"], label[for="id_email"], label[for="id_password1"], label[for="id_password2"]{
    width: 220px;
}

/* エラーメッセージの整列と赤文字化 */
.errorlist{
    color: red;
    list-style: none;
    padding-left: 0;
}